.card-container {
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.image {
    height: 20vh;
    width: 100px;
}
.heading {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 15px;
}
.paragraph {
    color: #7b8794;
    font-size: 10px;
    font-family: "Roboto";
}