.bg-container {
    background-image: linear-gradient(to right, #f49541, #dd5d97);
    padding-top:30px;
    padding-bottom:30px;
}
.heading {
    color: #ad2167;
    font-family: "Bree Serif";
    font-size: 28px;
}
.paragraph {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 18px;
}
.sub-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-style: italic;
}
.image1 {
    width: 250px;
    margin:10px;
}
