.image {
    height: 52px;
    width: 61px;
    padding:10px
}
#heading {
    color: #ffffff;
}
#heading1 {
    color: #ffffff;
}
#heading2 {
    color: #ffffff;
}
#heading3 {
    color: #ffffff;
}
#heading4 {
    color: #ffffff;
}