.bg-container {
    background-color: #19232d;
    background-size: cover;
}
.image {
    height: 36px;
    width: 56px;
}
.icon-container {
    border-radius: 40px;
    height: 40px;
    width: 40px;
    background-color: #202b36;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 15px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.icon {
    color: #5a7184;
    font-size: 18px;
}
.section-text {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}
.sub-heading {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
}
.section-list {
    list-style-type: none;
    padding-left: 0;
}
.hr-line {
    color: #959ead;
}
.section-copyright {
    color: #959ead;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}
